*{
	margin:0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	font-size: 16px;
}
a{
	text-decoration: none;
}
header{
	background-color:#fd7703;
	box-shadow: 1px 2px 5px #2c3e50;
	margin-bottom: 40px;
}
.container{
	width: 80vw;
	margin: 0 auto;
}
header div.container{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo,.logo img{
	height: 60px;
}
ul.nav{
	display: flex;
	list-style-type: none;
}
ul.nav li{
	position: relative;
}
ul.nav li a{
	display: inline-block;
	height:60px;
	line-height: 60px;
	text-align: center;
	text-transform: uppercase;	
	padding: 0 20px;
	color:#fff;
}
ul.nav li:hover a{
	font-weight: bold;
	font-size: 1.2rem;
}
.banner{
	height: 37vw;
	background-image:url('../images/banner.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	margin-bottom: 10px;
}
.title-xem-anh{
	font-size: 2rem;
	text-align: center;
	margin: 20px 0;
	color:#fd7703;
}
.row{
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}
.col{
	width: 25vw;
	height: 35vw;
	overflow: hidden;
}
.col img{
	height: 100%;
	width: 100%;
	opacity: 0.5;
}
.col:hover img{
	opacity: 1;
}
.col:hover{
	box-shadow: 1px 4px 4px #585858;
}