*{
	margin:0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
	font-size: 10px;
}
.box-shadow{
	box-shadow: -5px 5px 10px #535353;
}
.menu{
	width: 230px;
	height: 100vh;
	background-color: #020815;
	position: fixed;
	left:0;
}
.content{
	width:calc(100% - 230px);
	float:right;
}
.avatar{
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 20px 0 70px 0; 
}
.avatar .ava{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-image: url("images/ava.jpg");
	background-repeat: no-repeat;
	background-position:0 -5px;
	background-size: cover;
	margin-bottom: 10px;
}
.avatar span{
	font-family: monospace;
	position: absolute;
	bottom: -20px;
	font-size: 2.5rem;
	color:#fff;
	padding:10px 50px;
	background-color: #020815;
}
ul.nav{
	list-style-type: none;
	padding: 0;
}
ul.nav li{
	width: 230px;
	border-top: 1px solid #fff;
	text-align: center;
}
ul.nav li a{
	display: inline-block;
	width: 100%;
	text-decoration: none;
	color:#fff;
	line-height: 40px;
	font-size: 1.5rem;
}
ul.nav li:hover{
	background-color: #fff;
}
ul.nav li:hover a{
	color:#020815;
}
.icon{
	position: absolute;
	z-index: 10;
	bottom: -50px;
}
.icon img{
	width: 30px;
	margin: 0 10px;
}
.banner{
	background-image: url('images/husky.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 650px;
}
.content-info{
	padding: 60px 0;
}
.intro{
	position: absolute;
	top:80%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color:white;
	text-align: center;
}
.hey{
	font-size: 2rem;
}
.big-boss{
	font-size: 8rem;
}
.intro p{
	font-size: 1.4rem;
	font-family: monospace;
	letter-spacing: 5px;
}
.section{
	width: 80%;
	margin: 0 auto;
	position: relative;
}
.border-title{
	text-align: center;
	/*margin-top: 60px;*/
}
.border-title h1{
	margin: 0 auto;
	width: 250px;
	font-size:4rem;
	color:#161667;
	border: 3px solid #C2C2C2;
	padding:5px 10px;
}
.info{
	margin: 60px 0; 
	display: flex;
	justify-content: space-around;
}
.info div{
	text-align: center;
	width: calc(100% / 3);
}
.info div:not(:last-child){
	border-right: 1px solid #434343;
}
.info span{
	color:#161667;
	font-size:5rem;
	font-weight: bold;
}
.info h2{
	font-size: 1.5rem;
	color:#434343;
}
.section p{
	font-size: 1.5rem;
	color:#6B6B6B;
	/*margin-bottom: 60px;*/
}
.my-skills{
	background-image: url('images/husky1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.my-skills .border-title h1{
	color:white !important;
}
.all-skill{
	display: flex;
	margin-top: 50px; 
}
.skill{
	width: 50%;
}
.skill-display{
	width: 100%;
	background: white;
	border-radius: 30px;
	margin-bottom: 50px;
}
.name-skill,.skill-percent{
	font-size: 1.5rem;
	color:white;
	font-weight: bold;
}
.skill-display div{
	height: 10px;
	position: relative;
	border-radius: 30px;
}
.skill-percent{
	position: absolute;
	top:-20px;
	right: 0;
}
.name-skill{
	position: absolute;
	top:-20px;
	left: 0;
}
.skill-1 div{
	background: tomato;
	width:30%;
}
.skill-2 div{
	background: dodgerblue;
	width:50%;
}
.skill-3 div{
	background: #d35400;
	width:95%;
}
.skill-4 div{
	background: #8e44ad;
	width:100%;
}
.skill-info{
	width: 50%;
	padding:0 30px;
	font-size: 1.5rem;
	color:white;
}
.skill-info b{
	font-size: 2rem;
	color:white;
}
.port-img{
	margin-top: 60px; 
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
}
.port-img div{
	width: calc(100% / 3);
	height: 300px;
	overflow:hidden;
}
.port-img img{
	width: 100%;
	opacity: 0.5;
}
.port-img img:hover{
	opacity: 1;
}
.contact .border-title h1{
	color:white !important;
}
.contact{
	background:#020526;
}
.boss-info{
	margin-top:60px;
	display: flex;
}
.boss-info div{
	width: 50%;
}
.address span{
	display: block;
	color:white;
	font-size: 1.5rem;
	margin: 10px;
}
.address span i{
	font-size: 2rem;
	margin-right: 10px; 
}
.icon-contact{
	width: 140px !important;
	position: absolute;
	bottom:0;
	display: flex;
	justify-content: space-between;
}
.icon-contact img{
	width: 40px;
}
.btn-dau-trang{
	display: block;
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	text-decoration: none;
	text-align: center;
	color:white;
	background: #080348;
}
.btn-dau-trang i{
	line-height: 40px;
	font-size: 2rem;
}
/*Lỗi btn trên github*/