.menu{
	text-align: center;
}
a{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-size:20px;
	line-height: 40px;
	padding: 20px 10px;
	color:#2980b9;
	border-bottom: 2px solid #34495e;
}
a:hover{
	color:#ecf0f1;
	background: #2980b9;
}