*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:0;
    outline: 0;
}
body{
    font-family: sans-serif;
    font-size: 100%;
}
.table-name{
    text-align: center;
    margin:20px 0;
    font-size: 2.3em;
    color:#2c3e50;
}
.table-students{
    margin:0 auto;
    line-height:40px;
    border-collapse: collapse;
    font-size: 1em;
    color:#2d3436;
}
.table-students tr:not(:first-child):hover{
    background-color:#b4b3b3;
}
.table-students th,.table-students td{
    padding: 0 20px 0 10px;
    text-align:left;
    overflow: hidden;
}
.table-students th:first-child,.table-students td:first-child{
    width: 200px;
}
.table-students th:nth-child(2),.table-students td:nth-child(2){
    width: 150px;
}
.table-students th:nth-child(3),.table-students th:nth-child(4),.table-students td:nth-child(3),.table-students td:nth-child(4){
    width: 250px;
}
.table-students th:nth-child(5),.table-students td:nth-child(5){
    width: 200px;
}
.table-students tr:first-child{
    background-color:#2d3436 !important;
    color:#ecf0f1;
}
.table-students tr:nth-child(even){
    background-color:#edeeee;
}
.table-students tr:nth-child(odd){
    background-color:#e2e0e0;
}
.table-students tr td:last-child{
    display:flex;
    cursor: pointer;
}
.table-students tr td div{
    margin:0 5px;
    color:#d63031;
}
.table-students tr td div:first-child{
    color:#2980b9; 
}
.sort{
    margin-left:10px;
    cursor: pointer;
    line-height: 10px;
}
#confirm-delete{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color:#fff;
    text-align:center;
    padding:30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    display:none;
}
#confirm-delete h4{
    margin-bottom:20px;
    font-size: 1.5em;
    color:#7d0101;
}
#confirm-delete span{
    margin: 0 20px;
    cursor: pointer;
    font-weight: bold;
    padding:10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.7);
}
#confirm-delete span:hover{
    background-color:#7d0101;
    color:white;
}
.tool{
    text-align:center;
    margin:10px 0;
}
#search,#add{
    cursor: pointer;
}
#search-type{
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    background-color: #2d3436;
    color:#fff;
}
#search-text{
    height: 25px;
    line-height: 25px;
    padding:0 10px;
    background-color: #2d3436;
    color:#fff;
}
#search-icon{
    line-height: 25px;
    display:inline-block;
    height: 25px;
    padding:0 10px;
    background-color: #2d3436;
    color:#fff;
    font-size: 0.8em;
}

#add{
    background: #2d3436;
    color:#fff;
    display:inline-block;
    height:25px;
    line-height: 25px;
    padding:0 10px;
}
.add-finish{
    display:flex;
    align-items: center;
    font-weight: bold;
}
.save{
    font-weight:bold;
}
input:not(#search-text){
    width:100%;
}
