.hot-post .wrap-1060{
    padding-left:80px;
    display:flex;
    justify-content: space-between;
}
.wrap-660{
    width:660px;
}
.wrap-660 img{
    width:100%;
}
.wrap-270{
    width:270px;
}
.wrap-270 h2{
    margin: 30px 0 15px 0;
}
.wrap-270 p{
    font-size: 0.9rem;
    margin-bottom:20px !important;
}
.social-sidebar a{
    margin-right:15px;
}
.wrap-270 .tag{
    margin-top:70px;
    margin-bottom:30px;
}
.list-top-posts{
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.dot{
    width:5px;
    height:5px;
    border-radius: 50%;
    background:#636363;
    margin-top:10px;
}
.info-post{
    width:80%;
}
.info-post div:last-child{
    margin-top:5px;
    font-family: 'ubuntu',sans-serif;
    font-size: 0.7rem;
}
