.sec-contact{
	padding: 30px 0;
}
.main-contact{
	width: 900px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.contact-form{
	flex:0 0 40%;
}
.contact-info{
	flex:0 0 40%;
}
.contact-form form{
	background:#E6E6E6;
	display: flex;
	flex-direction: column;
	padding:20px;
}
input{
	width: 100%;
	height: 40px;
	padding:0 10px;
	margin:5px 0;
}
textarea{
	width: 100%;
	padding:10px;
	margin:5px 0;
}
.btn-send{
	display: inline-block;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 7px;
	font-size: 1.3em;
	color:white;
	background:#AA0F0F;
}
.contact-info>span{
	display: block;
	font-size: 2em;
	color: #4B4B4B;
	margin-bottom: 20px;
}
.contact-info>div{
	display: flex;
	flex-wrap: wrap;
}
.contact-info>div>div{
	flex:0 0 50%;
	display: flex;
	flex-direction: column;
}
.contact-info>div>div>span:first-child{
	color:#AA0F0F;
	font-size: 2em;
}
.contact-info>div>div>span:last-child{
	color:#707070;
	line-height: 2em;
}